.conteiner {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.titNuestPr {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 3rem;
}

.contPriority {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  justify-items: center;
  align-items: stretch;
  gap: 3rem;
  grid-row: 2;
}

.contPriority > * {
  width: 90%;
  height: auto;
  border-radius: 1rem;
}

.cardTarj,
.cardTarjBank {
  width: 90%;
  height: auto;
  border-radius: 1rem;
}

.contConf {
  width: 90%;
  height: auto;
  background: linear-gradient(#085f63, 20%, #10c1c9);
  opacity: 0.85;
  border-radius: 1rem;
}

.contSeg {
  width: 90%;
  height: auto;
  background: linear-gradient(#085f63, 20%, #10c1c9);
  opacity: 0.85;
  border-radius: 1rem;
  grid-row: 4;
}

.titConf,
.titSeg {
  color: white;
  font-size: 2rem;
  margin: 0.5rem;
  margin-top: 1.5rem;
}

.textConf,
.textSeg {
  color: white;
  font-size: 160%;
  margin: 0.5rem;
  margin-top: 2rem;
}

.cardUniv {
  margin: 5%;
  display: grid;
  border-radius: 1rem;
  background-image: url("../../../assets/img/graduacion.jpg");
  background-size: cover;
}

.cardUnivBackground {
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
  text-align: center;
  color: white;

  background: linear-gradient(
    180deg,
    rgba(8, 95, 99, 0.9) 0%,
    rgba(16, 193, 201, 0.69) 100%
  );
}

.cardUniv button {
  width: 50%;
  justify-self: center;
  border-radius: 16px;
  padding: 0.5rem;
  text-align: center;
  border: none;
  background-color: #085f63;
  font-family: "Monserrat";
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.cardUniv button:hover {
  cursor: pointer;
}

.cardUniv p {
    align-self: center;
    font-size: 1.5rem;
  }

/*Media query for tablet screen*/
@media screen and (min-width: 768px) {
  .conteiner {
    width: 90%;
    margin: auto;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .titNuestPr {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 0;
  }

  .contPriority {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    gap: 3rem;
    grid-row: 2;
  }

  .cardTarj,
  .cardTarjBank {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  .contConf {
    width: 100%;
    height: auto;
    background: linear-gradient(#085f63, 20%, #10c1c9);
    opacity: 0.85;
    border-radius: 1rem;
  }

  .contSeg {
    width: 100%;
    height: auto;
    background: linear-gradient(#085f63, 20%, #10c1c9);
    opacity: 0.85;
    border-radius: 1rem;
    grid-row: 2;
  }

  .titConf,
  .titSeg {
    color: white;
    font-size: 1.8rem;
    margin: 0.5rem;
    margin-top: 1rem;
  }

  .textConf,
  .textSeg {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem;
    margin-top: 1.5rem;
  }

  .cardUniv {
    margin: 0;
    
   
  }
}

/* Media query for desktop screen*/
@media screen and (min-width: 1024px) {
  .conteiner {
    width: 85%;
    margin: auto;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    gap: 4rem;
  }

  .titNuestPr {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .contPriority {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    gap: 3rem;
    grid-row: 1;
  }

  .contPriority > * {
    width: 95%;
    height: auto;
    border-radius: 1rem;
  }

  .contConf {
    background: linear-gradient(#085f63, 20%, #10c1c9);
    opacity: 0.85;
  }

  .contSeg {
    background: linear-gradient(#085f63, 20%, #10c1c9);
    opacity: 0.85;
    grid-row: 2;
  }

  .titConf,
  .titSeg {
    color: white;
    font-size: 2rem;
    margin: 0.8rem;
    margin-top: 1rem;
  }

  .textConf,
  .textSeg {
    color: white;
    font-size: 1.5rem;
    margin: 0.8rem;
    margin-top: 1rem;
  }
}
