.transferFormContainer {
  margin: 0 25%;
}

.container {
  


}

.header {
   padding: 1rem 2rem;
   display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerTitle {
  color: gray; 
}

.formGroup {

  padding: 3rem; 
  grid-template-columns: 1fr auto;
  align-items: center;
    
  }

  .formGroup > label {
    color: #085F63;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .formInput, .disabledInput {
    padding: 1rem 0.1rem;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #085F63;
    display: grid;
    font-size: 1.3rem;
    
    
  }

  .inputWithButton {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    
  }

  .formInput:focus, .disabledInput:focus {
    outline: none;
    border-bottom: 3px solid #085F63;
  }

  .formTitle {
    text-align: center;
  }

  .buttonGroup {
    justify-self: center
  }



