  .login-container {
    background-image: url('../../../assets/img/fondoLogin1.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    /*position: fixed; por si acaso, usar despues pq la img tapa todo */
  }
  .form-section {
    color: #fff;
    width: 450px;
  }
  
  .form-section h2 {
    font-size: 36px;
    margin: 0;
    text-align: left;
  }
  
  .form-section h3 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: left;
  }
  
  .input-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .input-group input {
    font-size: 18px;
    padding: 12px;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    background-color: transparent;
    outline: none;
  }
  
  .input-group label {
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
  }
  
  .btn-login {
    background-color: #004d4d;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
  }
  
  .btn-login:hover {
    background-color: #003333;
  }
  
  .register-text {
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .register-text a {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .error {
    color: #ff0303;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .image-section {
    display: none;
  }
  