.contactFormContainer {
  display: grid;
  justify-items: center;
  padding: 2rem;
}

.clockContacts{
  font-size: 1rem;
  font-weight: 600;
  color: #95a5a6;
  margin: 2rem;
  display: flex;
  justify-content: flex-end;
}

.contactFormTitle { /*titulo*/
  color: black;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.contactForm {
  display: grid;
  gap: 1.5rem;
  width: 40%;
}

.contactFormLabel {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #085f63;
}

.contactFormInputAcNumber{
  opacity: 0.5;
}

.contactFormInput,
.contactFormTextarea {
  font-size: 1.02rem;
  border: none;
  border-bottom: 1.8px solid #085F63;
  color: black;
  background-color: transparent;
  outline: none;
  width: 100%;
  transition: border-color 0.3s;
  margin-top: 1rem;
  resize: none;
}

.contactFormInput:focus,
.contactFormTextarea:focus {
  outline: none;
  border-color: #128992;
  background-color: white;
}
.contactFormInput::placeholder{
  font-weight: normal;
  color: #95a5a6;
  opacity: 1;
}

.contactFormTextarea::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  color: #95a5a6;
  opacity: 1;
}

.contactFormButtons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.contactFormButton {
  flex: 1;
  padding: 0.7rem;
  border: none;
  border-radius: 2rem;
  background-color: #49BEB7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  color: #085f63;
}

.contactFormButton:hover {
  background-color: #085f63;
  color: white;
}
