.primaryContainer {

  color: black;
  text-align: center;
  min-width: 500px;
  
}

.bg {
 
  background-image: url('../../../assets/img/FondoMobil.png');
  background-size: cover;
  min-width: 100%;
}

.slider {
  
  display: grid; 
  grid-template-columns: auto 1fr auto;
}

.cards {

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px;
}

.cards > * {
  grid-area: 1/1;
  width: 100%;
  max-width:500px;
  justify-self: center;
 
  
}

@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .cards > * {
    grid-area: auto;
    
  }

  .arrow {
    display: none;
  }

  .sliderDots {
    display: none;
  }
}