.box4 {
  width: 18rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  overflow: hidden;

  grid-area: 1/1;
  border-radius: 20px;
}

.bg {
  grid-area: 1 /1;
  height: 100%;
  width: 100%;
  background-size: contain;
}

.box4 h2 {
  color: white;
  text-align: center;
  position: relative;

  font-size: 2rem;
  font-weight: bold;
}

.dialog {
  position: absolute;
  grid-area: 1 /1;
  margin: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(8, 95, 99, 0.8));
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.dialog p {
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2vh;
}
/* Animaciones */
.slideUp {
  display: flex;
  animation: slideUp 0.5s ease-out forwards;
}

.slideDown {
  display: flex;
  animation: slideDown 0.5s ease-in forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.active {
  z-index: 1;
}

.no_active {
}

@media screen and (min-width: 1024px) {
  .box4 {
    width: 22rem;
  }
}
