

  .cardBody {
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
    padding-bottom: 20px;
    height: 80vh;
    
  }

  .cardContent {
    padding: 1rem 0;
    overflow: hidden;
    display: grid;
  }

  .cardContent > * {
    grid-area: 1/1;
  }

  .cardContent .bg {
    border-radius: 10px;
    width: 100%;
    
    
    
  }

  .text {

    padding: 0 1rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(8, 95, 99, 0.3);
    
  }

  .cardTitle {
    font-size: 2em;
  }



  @media screen and (max-width: 768px) {
    .cardBody.inactive {
      /* display: none; */
      opacity: 0;
    }

    .text {

      padding: 0 2rem;
  
      
    }


  }

