@font-face {
  font-family: "Monserrat";
  src: url('./assets/font/Montserrat_Alternates_Regular.ttf');
}

body {
  margin: 0;
  display: flex;
  font-family: "Monserrat", sans-serif;
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

main {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}