@font-face {
  font-family: "Monserrat";
  src: url('./assets/font/Montserrat_Alternates_Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
}