
.carousel-container {
  position: relative;
  width: 100%;
  min-height: 50vh; /* Altura inicial para mobile */
  overflow: hidden;
  margin: auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover; /* Ajusta la imagen sin distorsionar */
  background-position: center 60%; /* Centra la imagen */
  background-repeat: no-repeat;
}

.slide.active {
  opacity: 1;
}


.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
  max-width: 800px;
  z-index: 2; /* Asegura que el texto esté sobre la imagen */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.slide-content h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 1); /* Asegurar contraste */
  white-space: pre-line;
}

.slide-content p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  white-space: pre-line;
  font-weight: bold;
}

@media only screen and (min-width:768px){
  .carousel-container {
    height: 70vh; /* Se adapta al tamaño del viewport */
  }

  .slide {
    background-size: cover; /* Mantiene la proporción */
    background-position: center ; /* Corrige el desplazamiento */
  }
 

  .slide-content h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .slide-content p {
    font-size: 2rem;
  }
}

@media only screen and (min-width:1024px){
  .carousel-container {
    height: 80vh; /* Mayor altura en pantallas grandes */
    
  }

  .slide {
    background-size: cover;
    background-position: center 20%; /* Centra la imagen */
  }

  .slide-content {
    left: 45%;
    
  }

  .slide-content h1 {
    font-size: 3.3rem;
  }

  .slide-content p {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width:1440px) {
  .carousel-container {
    height: 80vh;
    /*ajusta la pantalla grande*/

  }

  .slide {
    background-size: cover;
    background-position: center 20%;
    /*centra la imagen*/
  }

  .slide-content {
    left: 30%;
    /*ajusta la posición del texto*/
  }

  .slide-content h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }

  .slide-content p {
    font-size: 2.5rem;
  }
}


